# Python
venv/
__pycache__/
*.pyc

# Donnees volumineuses (CSV trop gros pour GitHub)
data/*.csv

# OS
.DS_Store
Thumbs.db

# Secrets (mot de passe email)
frontend/email_config.py

# IDE
.vscode/
.idea/
